.header{
    width: 85%;
    margin: auto;
    display: flex;
}
.left-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-content h1{
    margin: 0;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.left-content span{
    color: orange;
}
.left-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin: 40px 0px;
}
.order{
    padding: 20px 30px;
    width: 160px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(to right,#fb9a4d,#fd482d);
}
.right-img{
    width: 50%;
}
.right-img img{
    height: 600px;
}
.about-me{
    background-image: url(./images/shapes/Frame\ 57.jpg);
    background-size: contain;
    width: 100%;
    height: 600px;
    display: flex;
}
.about-img{
    display: flex;
    justify-content: center;
    
    width: 50%;
}
.about-content{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.about-img img{
    height: 550px;
    align-self: flex-end;
}
.about-content h1{
    font-size: 32px;
    
}.about-content p{
    font-size: 18px;
    width: 400px;
    
}
.contact-btn{
    margin-top: 50px;
    padding: 20px 30px;
    width: 160px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(to right,#fb9a4d,#fd482d);
}
.recipie{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
}
.recipie p{
    width: 600px;
    margin: auto;
}
.recipie-box{
    display: flex;
}
.box img{
    height: 200px;
}
.box p{
    width: 100%;
    font-size: 20px;
}
.box{
    text-align: left;
    width: 300px;
    margin: auto;
    margin-top: 40px;

}
.footer{
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    margin-top: 50px;
    text-align: center;
    color: white;
    padding-top: 40px;
    background: #000;
}
.footer span{
    color: orange;
}